<div class="row">

  <div class="col-12">
      <div class="card divmargen">
          <div class="card-header">
              <h3 class="card-title">
                  <i class="far fa-list-alt"></i>
                  &nbsp;
                  Lotes
                  &nbsp;
                  <!--<button type="button" class="btn btn-secondary btn-sm " (click)="onResetFormPerfil()"
                      data-toggle="modal" data-target="#viewModalUser">
                      <i class="far fa-plus-square"></i>
                      Crear
                  </button>-->
              </h3>


          </div>
          <!-- /.card-header -->
          <div class="card-body">

              <div class="table-responsive">

                  <table mat-table [dataSource]="lotesdata" class="mat-elevation-z8">


                      <ng-container matColumnDef="empresa">
                        <th mat-header-cell *matHeaderCellDef>Código de empresa </th>
                        <td mat-cell *matCellDef="let lote"> <p class="tabla">{{lote.empresa}}</p> </td>
                      </ng-container>

                      <ng-container matColumnDef="lote">
                        <th mat-header-cell *matHeaderCellDef>Código de lote</th>
                        <td mat-cell *matCellDef="let lote"> <p class="tabla">{{lote.lote}}</p> </td>
                      </ng-container>

                      <ng-container matColumnDef="galpon">
                        <th mat-header-cell *matHeaderCellDef>Galpon</th>
                        <td mat-cell *matCellDef="let lote"> <p class="tabla">{{lote.galpon}}</p> </td>
                      </ng-container>

                      <ng-container matColumnDef="granja">
                        <th mat-header-cell *matHeaderCellDef>Granja </th>
                        <td mat-cell *matCellDef="let lote"> <p class="tabla">{{lote.granja}}</p> </td>
                      </ng-container>

                      <ng-container matColumnDef="idgranja">
                        <th mat-header-cell *matHeaderCellDef>ID Granja </th>
                        <td mat-cell *matCellDef="let lote"> <p class="tabla">{{lote.idgranja}}</p> </td>
                      </ng-container>

                      <ng-container matColumnDef="zonaoperacion">
                        <th mat-header-cell *matHeaderCellDef>Zona de operación</th>
                        <td mat-cell *matCellDef="let lote"> <p class="tabla">{{lote.zonaoperacion}}</p> </td>
                      </ng-container>

                      <ng-container matColumnDef="fecharegistro">
                        <th mat-header-cell *matHeaderCellDef>Fecha de registro </th>
                        <td mat-cell *matCellDef="let lote"> <p class="tabla">{{lote.fecharegistro|date:'dd/MM/yyyy'}}</p> </td>
                      </ng-container>

                      <ng-container matColumnDef="fechaencasetado">
                        <th mat-header-cell *matHeaderCellDef>Fecha de encasetado </th>
                        <td mat-cell *matCellDef="let lote"> <p class="tabla">{{lote.fechaencasetado|date:'dd/MM/yyyy'}}</p> </td>
                      </ng-container>
                      <ng-container matColumnDef="fechacierre">
                        <th mat-header-cell *matHeaderCellDef>Fecha de cierre </th>
                        <td mat-cell *matCellDef="let lote"> <p class="tabla">{{lote.fechacierre|date:'dd/MM/yyyy'}}</p> </td>
                      </ng-container>

                      <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef>Estado Actual </th>
                        <td mat-cell *matCellDef="let lote"> <p class="tabla">{{lote.estado}}</p> </td>
                      </ng-container>




                      <tr mat-header-row *matHeaderRowDef="lotescol"></tr>
                      <tr mat-row *matRowDef="let row; columns: lotescol;"></tr>
                    </table>
              </div>
              <div style="display: flex; background-color: #fff; margin-top: 2%;" >
                    <span  style="float: right;margin-left: 2%;" >Total de registros: {{nroTotal}}</span>
                  </div>
                  <mat-paginator [pageSizeOptions]="[6, 10]" showFirstLastButtons></mat-paginator>


          </div>
          <!-- /.card-body -->
      </div>

  </div>
  <!-- /.col -->
</div>
