p {
  font-family: "Trajan";
}
table.mat-table{
  table-layout: fixed;
width: 100%;
display: table;
font-family: "Trajan"
}
table {
width: 100%;
}
.mat-header-row{
  height: auto;
}
.mat-row:nth-child(even) {
  background-color:white;
}
.mat-row:nth-child(odd) {
  background-color: #f7f7f7;
}
.mat-header-cell {
font-size: small;
  color: white;
  background-color: #2A5C9E;
  padding: 10px 10px 10px 10px;
  justify-content: center;
}
.mat-row {
  height: auto;

}
.mat-cell {
  font-size: x-small;
  padding: 5px 5px 5px 5px;
  justify-content: center;
}
.mat-column-Dia,.mat-column-Sel {
  max-width: 50px;
  min-width: 30px;
}
.mat-column-Hefe,.mat-column-He25,.mat-column-He35,.mat-column-H100,.mat-column-Hen25,.mat-column-Hen35,.mat-column-Hn100,.mat-column-Bnoc,.mat-column-Lote{
  min-width: 60px;
  max-width: 80px;
}
.mat-column-Tiemref{
  min-width: 60px;
  max-width: 80px;
}
.mat-column-Concepto{
  min-width: 90px;
  max-width: 100px;
}
.mat-column-Fecha{
  min-width: 70px;
  max-width: 80px;
}
.mat-column-Turno{
  min-width: 60px;
  max-width: 80px;
}
.mat-column-Lote{
  min-width: 90px;
  max-width: 100px;
}

.mat-column-FecIni,.mat-column-FecFin{
  min-width: 130px;
  max-width: 135px;
}
.mat-column-fecini,.mat-column-horini,.mat-column-fecfin,.mat-column-horfin{
  min-width: 130px;
  max-width: 135px;
}
.mat-column-HorIni,.mat-column-HorFin{
  min-width: 100px;
  max-width: 110px;
}

.mat-form-field{
    width: calc(100% - 15px);
}
table.mat-form-field{
  width: calc(100% - 15px);
}


* {
border-radius: 0 !important;
}

* {
-webkit-border-radius: 0 !important;
   -moz-border-radius: 0 !important;
        border-radius: 0 !important;
}

.div.border{
  border-style: solid;
}

 .button-edit{
  background-color: #8cb7ec;
}

.button-acceso{
    background-color: #969696;
}

.button-delete{
    background-color: #f80000;
}


.button-file{
    background-color: #47a044;
}

.div.letter {
font-size: 50px;
}
.modal-body{
  max-height: 400px;
  overflow-y:auto;
}
.modal {
overflow-y:auto;
}
div.scroll {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.demo-table {
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}
